{% extends "base.html" %}

{% block title %}Главная{% endblock %}

{% block content %}
<div class="content">
    <h2>Добро пожаловать!</h2>
    <p>Этот сайт предназначен для анализа цен на недвижимость и исследования макроэкономических факторов.</p>
    <p>Используйте меню сверху для навигации:</p>
    <ul>
        <li><strong>Статистика:</strong> Изучите динамику ипотечных ставок и другие показатели.</li>
        <li><strong>Анализ недвижимости:</strong> Исследуйте данные о ценах на квартиры с помощью интерактивной карты.</li>
        <li><strong>Данные:</strong> Получите доступ к сырым данным, используемым для анализа.</li>
    </ul>
</div>
{% endblock %}