{% extends "base.html" %}

{% block title %}Главная{% endblock %}

{% block content %}
<div class="content">
    <h2>Добро пожаловать!</h2>
    <p>Этот сайт предназначен для анализа цен на недвижимость и исследования макроэкономических факторов.</p>
    <p>Используйте меню сверху для навигации:</p>
    <ul>
        <li><strong>Статистика:</strong> Изучите динамику ипотечных ставок и другие показатели.</li>
        <li><strong>Анализ недвижимости:</strong> Исследуйте данные о ценах на квартиры с помощью интерактивной карты.</li>
        <li><strong>Данные:</strong> Получите доступ к сырым данным, используемым для анализа.</li>
    </ul>

    <div class="creators-section">
        <h3>О создателях</h3>
        <p>Этот проект был разработан командой студентов университета Иннополис и ЮФУ.</p>
        <ul>
            <li><strong>Давид Хачиков:</strong> B22-DS-02.</li>
            <li><strong>Софья Гамершмидт:</strong> B22-DS-02.</li>
            <li><strong>Артём Матевосян:</strong> B22-DS-01.</li>
        </ul>
        <p>
            Исходный код проекта доступен на 
            <a href="https://github.com/Data-Wrangling-and-Visualisation/Accommodation-Price-Analysis" target="_blank" rel="noopener noreferrer">
                GitHub
            </a>
        </p>
    </div>
</div>
{% endblock %}
